<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<link href="../static/table/new.css" rel="stylesheet">
	<link href="../static/form/form.css" rel="stylesheet">
    <link href="../static/dashboard/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/dashboard/css/simple-sidebar.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	            <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet"> 

	<title>BOOKS</title>
</head>
<body>
	<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <div style="font-family: 'Bitter',serif; font-weight: bold;">

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="Dashboard">
                        DASHBOARD
                    </a>
                </li>
    <li><a href="profile.html">USER PROFILE</a></li>
    <li  style="background-color: green; font-weight: bold;"><a href="books.html"   style="color: lightyellow;">BOOKS</a></li>
    {% if usr.type=="admin" %}
    <li><a href="addbooks.html">ADD BOOKS</a></li>
    {% endif %}
        {% if usr.type == "admin" %}
    <li><a href="issuereq.html">ISSUE REQUESTS</a></li>
        	<li ><a href="bookre.html" >BOOK REQUESTS</a></li>

    <li><a href="def.html">DEFAULTERS LIST</a></li>
    {% endif %}
    {% if usr.type != "admin" %}
    <li ><a href="return_book.html">RETURN BOOKS</a></li>
    <li><a href="issue_hist.html">ISSUE HISTORY</a></li>
    <li><a href="book_req.html">BOOK REQUISITION FORM</a></li>
    <li><a href="dues.html">DUES AND RECEIPTS</a> </li>
    {% endif %}
                    <li>
                    <form method="POST" action="/logout">
                        <input type="submit" value="LOGOUT">
                    </form>
                </li>
                </ul>
        </div></div>
                <div id="page-content-wrapper">
            <div class="container-fluid">
    <div class="back">
	<h1>Browse through all books by</h1>
	<form method="POST" action="/books">
		<select name="category">
			<option name="category" value="NAME">Name</option>
			<option name="category" value="AUTHOR">Author</option>
			<option name="category" value="GENRE">Genre</option>
		</select>

<!-- 		<input type="radio" name="category" value="NAME" required>NAME</input>
		<input type="radio" name="category" value="AUTHOR" required>AUTHOR</input>
		<input type="radio" name="category" value="GENRE" required>GENRE</input> -->
		<br>
		<input class="dd" type="text" name="search" placeholder="Search for a book" required></input>
		<input class="submit" type="submit" name="s1" value="SEARCH">
	</form>
	<br>
	<br>
	<br>
	<form method="POST" action="/update">
		<input type="number" name="id" min="1" required>ID</input>
		<input type="number" name="rate" min="1" max="5" required>RATE BOOK(OUT OF 5)</input>
		<br>
		<input class="submit" type="submit" value="SUBMIT">
	</form>
	{% if usr.type !="admin" %}
	<br><br>
	<h1>ISSUE BOOKS</h1>
	<form method="POST" action="/req">
		<input type="number" name="id" min="1" required></input>
		<br>
		<input class="submit" type="submit" value="ISSUE"></input>
	</form>
	{% endif %}
	<br>
	<br>
	<br>
	<table>
		<tr>
			<th style="padding: 15px 40px">ID</th>
			<th style="padding: 15px 40px">NAME</th>
			<th style="padding: 15px 40px">AUTHOR</th>
			<th style="padding: 15px 40px">GENRE</th>
			<th style="padding: 15px 40px">RATING</th>
		</tr>
		{% for item in data %}
		<tr>
			<td style="padding: 15px 40px">{{item[0]}}</td>
			<td style="padding: 15px 40px">{{item[1]}}</td>
			<td style="padding: 15px 40px">{{item[2]}}</td>
			<td style="padding: 15px 40px">{{item[3]}}</td>
			<td style="padding: 15px 40px">{{item[4]}}</td>
		</tr>
		{% endfor %}
	</table>
</div>
	<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
  </ul>
</nav>
</div></div></div></div>
</body>
</html>